<div class="row">
  

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <nb-card class="form-input-card">
      <nb-card-header>Ajouter un contrat</nb-card-header>
      <nb-card-body class="result-from-dialog">
        <button nbButton (click)="cin=true;gray=false;grayBack=false">Appuiyez pour ajouter les documents </button>
        <br>
        
      </nb-card-body>
    </nb-card>
  </div>
</div>
<nb-card *ngIf="cin">
  <nb-card-header>Entrer la carte CIN</nb-card-header>
  <nb-card-body>
    <input type="file" id="file" name="myfile"><br><br>
  </nb-card-body>
  <nb-card-footer>
    <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
    <button nbButton status="success" (click)="cin=false;gray=true;grayBack=false"  (click)="getFile($event)">Next</button>
  </nb-card-footer>
</nb-card>

  <nb-card *ngIf="gray" >
    <nb-card-header>Entrer la face frontale du carte grise</nb-card-header>
    <nb-card-body>
      <input type="file" id="file" name="myfile"><br><br>
    </nb-card-body>
    <nb-card-footer>
      <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
      <button nbButton status="success" (click)="cin=false;gray=false;gray=true" (click)="getFile($event)">Next</button>
    </nb-card-footer>
  </nb-card>

  <nb-card *ngIf="grayBack" >
    <nb-card-header>Entrer la face arriere du carte grise</nb-card-header>
    <nb-card-body>
      <input type="file" id="file" name="myfile"><br><br>
    </nb-card-body>
    <nb-card-footer>
      <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
      <button nbButton status="success" (click)="open()"  (click)="getFile($event)">Next</button>
    </nb-card-footer>
  </nb-card>


<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Template Dialog</nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Close Dialog</button>
    </nb-card-footer>
  </nb-card>
</ng-template>


